@import '../../../sass/mixins';
@import '../../../sass/variables';
.app__logo{
    @include flex-container ;
    width: fit-content;
    .logo__svg{
        >svg{
          width: 90px;
          height: 90px; 
          @media screen and (max-width: 768px) {
            width: 80px; 
          @media screen and (max-width: 480px) {
            width: 60px;  
          }
          @media screen and (max-width: 320px) {
            width: 40px;  
          }
        }
      }
    
}
.logo__name{
  @include text-gradient($blue__logo, $purpole__logo)
  }
}