@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import './variables';
  $Poopins:'Poppins', sans-serif;

    body{
    font-family: $Poopins;
      &.dark{
        textarea,input{
          background-color: $sec__black;
          color: white;
        }
      }
    }
    input,
    textarea{
      padding: 10px 7px;
      border: 1px solid #d3d3d3;
      border-radius: 4px;
      margin-bottom: 10px;
      display: block;
      width: 100%;
      outline: transparent;
    }
  @media (max-width: 768px) {
    input,
    textarea{
      padding: 8px 5px;
      border-radius: 4px;
      margin-bottom: 7px;
      font-size: 14px;
    }
    h1 {
      font-size: 22px;
      font-weight: bold;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
    }
    h5 {
      font-size: 14px;
      font-weight: bold;
    }
    h6 {
      font-size: 12px;
      font-weight: bold;
    }
    p ,span ,b ,dd ,td {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
    }
    h5 {
      font-size: 12px;
      font-weight: bold;
    }
    h6 {
      font-size: 10px;
      font-weight: bold;
    }
    p ,span ,b ,dd ,dt {
      font-size: 12px;
    }
    input,
    textarea{
      font-size: 12px;
    }
  }
  