@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin text-gradient($color1, $color2){
  background-image: linear-gradient(45deg, $color1, $color2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin displayFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin linearGradientBackground ($color1, $color2){
  background: linear-gradient(45deg, $color1, $color2);
}

@mixin Button {
  padding:5px ; 
  outline:transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
@mixin boxShadow1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@mixin boxShaodw2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin flexWithImage($direction,$alignItems,$justifyContent){
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
  @media (max-width:768px){
      img{
        display:none
      }
  }
}