// element
@mixin button {
  padding:5px ; 
  outline:transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: $main__white;
  transition: .3s;
  @at-root body.dark{
    background-color: $main__black;
    color: $main__white;
  }
}
@mixin input{
  padding: 7px 5px;
  font-size:14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
  &::placeholder{
    font-size: 0.9em;
  }
  @at-root body.dark{
    background-color: $sec__black;
    color: $main__white;
  }
  @media (max-width:768px){
    font-size: 12px;
  }
}
// gradient 
@mixin text-gradient($color1, $color2){
  background-image: linear-gradient(45deg, $color1, $color2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@mixin linearGradientBackground ($color1, $color2){
  background: linear-gradient(45deg, $color1, $color2);
}
// center
@mixin centerElementWithFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin centerElementWithPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// boxShadow
@mixin boxShadow1 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@mixin boxShaodw2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
// images 
@mixin smallScreenNoImage {
  @media (max-width:768px){
    img{
      display:none
    }
}
}
// border
@mixin border1 {
  border: 1px solid #cecece ; 
  border-radius: 5px;
}
@mixin border2 {
  border: 1px solid #ccc ; 
  border-radius: 5px;
}
// flex
@mixin displayFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flexWithImage($direction,$alignItems,$justifyContent){
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
  @include smallScreenNoImage;
}

// titles
@mixin bigTitle{
  font-weight: 800;
  font-size: 75px;
  @media(max-width:1024px){
    font-weight: 700;
    font-size: 65px;
  }
  @media(max-width:798px){
    font-weight: 600;
    font-size: 60px;
  }
}

