$blue__logo: #1A6DFF ;
$purpole__logo: #C822FF;
$lightblue__logo: #6DC7FF; 
$lightporpule__logo: #E6ABFF;

$main__white:#fff;
$main__black: #211A1E;; 
$sec__black:#252525; 
$light__gray: #dfdfdf;
$dark__gray:#ccc;