@import './function' ; 

$blue__logo: #1A6DFF ;
$purpole__logo: #C822FF;
$lightblue__logo: #6DC7FF; 
$lightporpule__logo: #E6ABFF;

$main__logo__theme: generateLinearGradient( $blue__logo, $purpole__logo);
$sec__logo__theme:  generateLinearGradient( $lightblue__logo, $lightporpule__logo);

$main__white:#fff;
$main__black: #211A1E;; 
$sec__black:#252525; 
$light__gray: #dfdfdf;
$dark__gray:#ccc;
$light__green:#9be3b6;
$datk__green:#113f22;

$zIndex__nav:9999;
$zIndex__page:10;

$nav__height:72px;

$transition: .3s