@import '../../../sass/index'; 

.card__container{
    width: 100%;
    display: block;
    @include border2;
    border-radius: 10px;
    @media (max-width:798px){
        border-radius: 20px;
    }
    .loading{
        display: flex;
        justify-content: center;
        align-items:center;
    }
}

body.dark{
    .card__container{
        background-color: $sec__black;
        padding:10px;
    }
}