.matching__card__game{
    margin-top: 40px;
    @media (max-width:991px) {
        width: 90%;
        margin: auto;
    }
    .champions__cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        width: fit-content; 
      
    }
    button{
        background-color: #7300ff;
        color: white;
        margin-bottom: 20px;
    }
    .grid__row{
        display: flex;
        gap: 10px;
    }
    .champion__card{
    
        background-color: white;
            color: white;
            width: 90px;
            height:140px ;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: #e9e9e9;
            }
    }
    @media(max-width:991px){
        .champion__card{
            width: 50px;
            height: 80px;
        }
    }
}

.champion__card{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}