.matching__card__game{
    margin-top: 40px;
    .champions__cards{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        width: fit-content;        
    }

    .grid__row{
        display: flex;
        gap: 10px;
    }
    .champion__card{
    
        background-color: white;
            color: white;
            width: 90px;
            height:140px ;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: red;
            &:hover{
                background-color: #e9e9e9;
            }
    }
}

.champion__card{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}