@import '../../../sass/index' ;
.champion__info__contaienr{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto minmax(200px,auto) 200px;
    grid-gap: 20px;
    grid-template-areas: 
    "def def def def def def def def tag tag"
    "aa aa aa ea ea ea gp gp gp gp"
    "sk sk sk sk sk sk sk sk sk sk" 
    ;
    .champion__def{
        grid-area: def;
    }
    .champion__type{
        grid-area: tag;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ally__tips{
        grid-area: aa;
    }
    .enemy__tips{
        grid-area: ea;
    }
    .champion__info{
        grid-area: gp;
    }
    .champion__skins{
        grid-area: sk;
    }
    .ally__tips,
    .enemy__tips{
        ul{
        list-style: square;
            li{
                margin-bottom: 35px;
            }
        li::marker{
            color:$purpole__logo;
        }
        }        

    }
}