$color-error: #ff6b6b;
$color-warning: #ffa500;
$color-info: #3498db;
$color-success: #2ecc71;
@mixin marginRightAndColorWhite {
  color: white;
  margin-right: 10px;
}
.alert {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.icon-error {
  background-color: $color-error;
  @include marginRightAndColorWhite;
}

.icon-warning {
  background-color: $color-warning;
  @include marginRightAndColorWhite;
}

.icon-info {
  background-color: $color-info;
  @include marginRightAndColorWhite;
}

.icon-success {
  background-color: $color-success;
  @include marginRightAndColorWhite;
}

.error {
  background-color: $color-error;
}

.warning {
  background-color: $color-warning;
}

.info {
  background-color: $color-info;
}

.success {
  background-color: $color-success;
}
