@import '../../sass/mixins';
@import '../../sass/variables';



.page__not__found{
    @include centerElementWithPosition ;
    text-align: center;
    .large__error__code{
        @include text-gradient($blue__logo,$purpole__logo);
        font-size: 100px;
        font-weight: 700;
    }
    p{
        color: $dark__gray;
    }
    button{
        @include centerElementWithPosition;
        @include button;
        gap:10px;
        margin: auto;
        padding: 10px 5px;
        border-radius: 5px;
        outline: transparent;
        border: none;
        background:linear-gradient(45deg,$blue__logo,$purpole__logo);
        color: $main__white;
        cursor: pointer;
        font-weight: 600;
    }
}