@import '../../../sass/index'; 


body{
    &.dark{
        .search__input{
            background-color: $sec__black;
            color: $main__white;
        }
    }
}

.search__input{
    @include input;
    display: flex;
    height: 45px;
    width: 400px;
    border-radius: 20px;
    margin:auto;
    position: relative;
    input {
        margin-top: 7px;
        @include centerElementWithFlex;
        border: none !important;
        outline: transparent !important;
        flex:1;
    }
    button{
        @include centerElementWithFlex;
        @include backgroundColorMainBrandColor1;
        position:absolute !important;
        top:0;
        right:0px;
        height: 100% ; 
        width: 45px;
        border-radius: 50%;
        font-size: 20px;
        color: white;
    }
}