@import '../../../../../../sass/index' ;

body.dark{
    .win__match{
        background-color: $datk__green;
    }
    .lost__match{
        background-color: $dark__red;
    }
}


.single__match{
    background-color: deepskyblue;
    margin:10px 0 ;
    border-radius: 5px;
    font-size: small;
    padding:5px 10px;
    &.win__match{
        background-color: $light__green;
    }
    &.lost__match{
        background-color: $light__red;
    }
    .match__header{
        display: flex;
        align-items: center;
        gap: 28px;
    }
    .match__content{
        display: flex;
        align-items: center;
        gap: 10px;
        .user__match__champion{
            display: flex;
            align-items: center;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

}