@import '../../../../../../sass/index' ;

body.dark{
    .win__match{
        background-color: $datk__green;
    }
    .lost__match{
        background-color: $dark__red;
    }
}


.single__match{
    background-color: deepskyblue;
    margin:10px 0 ;
    border-radius: 5px;
    font-size: small;
    padding:5px 10px;
    &.win__match{
        background-color: $light__green;
    }
    &.lost__match{
        background-color: $light__red;
    }
    .match__header{
        display: flex;
        align-items: center;
        gap: 28px;
    }
}