@import '../../../../sass/index';

.contact__section__home{
    
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    h1{
        @include bigTitle;
    }
    img{
        @include smallScreenNoImage;
        flex-basis: 20%;
        width: 600px;
        height: 400px;
    }
}