@import '../../../../sass/index';

.contact__section__home{
    @media(max-width:991px){
        img{
        display: none;

        }
    }
    button{
        background-color: #7300ff;
        color: white;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    h1{
        @include bigTitle;
    }
    img{
        @include smallScreenNoImage;
        flex-basis: 20%;
        width: 600px;
        height: 400px;
    }
}