@import '../../../sass/index';
.search__champions__container{
    text-align: center;
    p{
        font-size: medium;
    }
}
.champions__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
  gap: 10px; 
  b{
    display: block;
  }
}

@media (max-width: 768px) {
  .champions__container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  
  }
}
