@import '../../../sass/index';
.search__champions__container{
    text-align: center;
    p{
        font-size: medium;
    }
}
.champions__container {
    margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));  
  gap: 40px; 
  >div{
    cursor: pointer;
    width: 100%;
  }
  img{
    width: 100%;
  }
  b{
    display: block;
  }
}

@media (max-width: 991px) {
  .champions__container {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));  
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
}
