@import '../../../sass/mixins';
@import '../../../sass/variables';
body {
    &.dark { 
        .toggle__theme__btn{
            background-color: $main__black;
            color: white;
        }
    }
}

.toggle__theme__btn{
    @include centerElementWithFlex ; 
    @include button;
    width: 35px;
    height: 35px;
    border: 1px solid #cecece;
}